<div class="container-flow">
  <div class="row">
    <div class="top-image">
      <div class="full-bg-img">
        <div class="text">
          <h1><strong>Over 45 years of combined experience</strong></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class='row text-par'>
      <h3>Company was organized in 2000 by its current principals, X Avier and
        Homer, to take advantage of certain market opportunities. The principals bring over 45 years of
        cumulative experience in different segments of the credit and capital markets.</h3>
    </div>


    <div class="row people">
      <div class="col-lg-4">
        <img class="img-circle" src="http://boym.weebly.com/uploads/8/2/3/0/8230860/3199418_orig.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>X Avier</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut
          id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="http://www.easydrawingtutorials.com/images/HomerSimpson/homer-simpson-step-last.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Homer - Consultant</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur
          purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="http://i2.cdn.cnn.com/cnnnext/dam/assets/170529121009-tiger-woods-mug-exlarge-169.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Chief of Hangouts</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
          euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus.</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</div>
